#bodyPadding {
	padding-left: 10px;
	padding-right: 10px;
}
#dynamicHeader {
	font-size: 3em;
	color: #4C0000;
	text-align: center;
	position: relative;
	padding-bottom: 10px;
	border-bottom: solid 3px black;
	margin-bottom: 20px;
}

.fileUpload {
	clear: right;
	border-color: white;
	margin: 15px;
}

.fileKeys {
	float: left;	
}
body{
	background-image: url(./img/congruent_pentagon.png);
	background-repeat: repeat;
}

.lists {
	padding-top: 20px;
	float: left;
	width: 400px;
	clear: top;
}

.lists li {
	font-family: inherit;
	color: #660066;
}

#fDesign {
	float:right;
	padding: 0px;
	width: 200px;
}

